
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    line-height: 2;
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
    --main-color: #ff8411;
    --secondary-color: rgb(153, 153, 153);
    --thrird-color: #888888;;
}

a{
    text-decoration: none;
    color: #000;
}

h2{
    font-size: 80px;
    font-weight: 300;
    height: 130px;
}

h1{
    font-size: 100px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
}

h1::after{
   content: "";
   display: block;
   height: 1px;
   background: var(--secondary-color);
   width: 30%;
   margin: 30px 0;
   opacity: .5;
}

p{
    font-weight: 100;
    font-size: 17px;
}

h6{
    font-size: 40px;
    font-weight: 300;
}

span{
    color: var(--main-color);
}
.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding:12px 17px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    position: absolute;
    bottom: 0;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #fff;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: #fff;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }



.grid_2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.row{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.row_2{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.f-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    height: 100vh;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
}

.logo{
    display: flex;
    font-size: 40px;
}

.topnav{
    display: flex;
}

.topnav li{
    list-style: none;
    margin: 15px;
    height: 35px;
}

.topnav li:hover{
    transition: 600ms;
    border-bottom: var(--main-color) 3px solid;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
}


.main_container{
    display: flex;
    justify-content: space-between;
    position: relative;
}


.main_contant{
    max-width: 1200px;
    position: absolute;
    top: 40%;
    left: 10%;
}

.mySlides{
    grid-template-columns: repeat(2, 1fr);
}

.mySlides > div{
    margin: 0 20px;

}

.mySlides img{
    width: 100%;
    height: 140%;
    margin-top: -10px;
}

.mySlides .conten{
    height: 100%;
    width: 100%;
}

.mySlides .conten p{
    color: var(--secondary-color);
    width: 85%;
    opacity: .9;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.page_links{
    position: relative;
}


.page_links .link-1, .page_links .link-2{
    position: fixed;
    font-size: 25px;
}

.page_links .link-1{
    top: 20%;
    transition: 600ms;
    right: 35px;

}

li:hover{
   color: var(--main-color);
   transition: 600ms;

}

.link-1 li:hover::after{
   content: "";
   display: block;
   transition: 600ms;
   border: 2px solid var(--main-color);
   border-radius: 50%;
   height: 15px;
   width: 15px;
   position: absolute;
   right: 7.8px;
   margin-top: 18px;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   -webkit-transition: 600ms;
   -moz-transition: 600ms;
   -ms-transition: 600ms;
   -o-transition: 600ms;
}

.page_links .link-2{
    bottom: 0;
    right: 0;
}

.page_links .link-2 li{
    list-style: none;
    background: var(--main-color);
    margin: 3px 0;
    padding: 10px 20px;
    cursor: pointer;
}

.page_links .link-2 li a:hover{
    color: #000;
}

.page_links .link-2 li:hover{
    border: var(--main-color) 2px solid;
    background: transparent;
    padding: 8px 18px;
    transition: 800ms;
    -webkit-transition: 800ms;
    -moz-transition: 800ms;
    -ms-transition: 800ms;
    -o-transition: 800ms;
}

.social_links{
    list-style: none;
    position: fixed;
    top: 40%;
}

.social_links li{
    margin: 5px 0;
    padding: 1px 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.social_links li:hover{
    border: var(--main-color) solid 2px;
}

.fa-facebook{
    padding-left: 1px;
}


.about{
    padding: 100px 0;
}

.a-img img{
    width: 100%;
    margin-top: 50px;
    border-radius: 8px;

}

.a-content p, .c-content p{
    color: var(--thrird-color);
}

.history{
    padding-bottom: 200px;
}

.h-img img, .slideShow img{
    width: 100%;
    height: 90%;
    margin-top: 80px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.h-btn{
    display: flex;
    list-style: none;
    position: relative;
    margin-bottom: 10px;
}

.h-btn button{
    background: transparent;
    border: transparent;
    margin: 0 20px;
    cursor: pointer;
    font-weight: 700;
}

.h-btn button:focus{
    outline: none;
}

.h-btn button::after{
    content: "";
    display: block;
    width: 55%;
    height: 1px;
    background: var(--thrird-color);
    margin-top: -8px;
    margin-left: -25px;
    opacity: .5;
}

.h-btn .demo_fix{
    margin-left: 0;
}

.h-btn .demo_fix::after{
    display: none;
}

.active{
    color: var(--main-color);
}

.h-btn button:hover{
    color: var(--main-color);
}

.mySlide {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0; background-color:#000;}



.competitions{
    padding-bottom: 100px;
}

.slideShow img{
    width: 100%;
    height: 50%;
    margin-top: 80px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.slideShow ul{
    display: flex;
}

.c-btn{
    display: flex;
    position: relative;
    margin-top: 20px;
    font-size: 25px;
}


.dot {
    height: 8px;
    width: 8px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
  }

.dot:hover, .actives{
    background-color: var(--main-color);

}


.dot:hover::before, .actives::before {
    content: "";
    display: block;
    height: 17px;
    width: 17px;
    border: var(--main-color) solid 1px;
    margin-left: -5.6px;
    margin-top: -5.5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.c-blog{
    margin: 15px 0;
}

.sale .c-content .button{
    width: 270px;
}

.c-blog h3{
    font-size: 27px;
    line-height: 1.3;
}

.c-blog ul{
    display: flex;
    margin: 10px 0;
}

.c-blog ul li{
    display: flex;
    margin: 0 10px;
    cursor: pointer;
}

.c-blog ul li p{
    font-size: 15px;
    margin: 0 8px;
    margin-top: -8px;
}

.c-blog ul li p:hover, .c-blog ul li i:hover{
    color: #000;
}

.c-blog ul li i{
    color: var(--thrird-color);
    opacity: .6;
}

.c-content{
    position: relative;
}

.c-content b, .a-content b{
    font-weight: 500;
    color: #000;
}

.sale{
    padding: 150px 0;
}


.grid_2 .img{
    position: relative;
    width: 120%;
    height: 285px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid_2 .img:hover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #fff, #fff);
    opacity: .8;
    border-radius: 20px;
    transition: 600ms;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
}

.grid_2 .img .back_img {
    opacity: 0;
    width: 110%;
    height: 50%;
    padding:0 50px;
    left: 10px;
    text-align: center;
    position: absolute;
    color: var(--white-color);
}

.grid_2 .img .back_img p{
    font-size: 14px;
    line-height: 1.4;
    margin: 20px 0;
}

.grid_2 .img .back_img h4{
    font-size: 28px;
    color: var(--main-color);
    line-height: 1.2;
}

.grid_2 .img .back_img button{
    background: transparent;
    position: absolute;
    top: 150px;
    right: 60px;
}

.grid_2 .img .back_img button span:after {
    color: #000;
  }

.grid_2 .img .back_img button span{
    color: #000;
    background: transparent;
    font-weight: 700;
}

.back_img{
    color: #fff;
}

.grid_2 .img .back_img:hover{
    opacity: 1;
    transition: 600ms;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
}


.grid_2 .img-1{
    background: url('/img/h1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.img-2{
    background: url('/img/h2.jpg');
}

.img-3{
    background: url('/img/h3.jpg');
}

.img-4{
    background: url('/img/h4.jpg');
}


.footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(236, 236, 236);
    margin: 10px 30px;
}

.footer > div{
    margin-top:15px;
}

.footer > div p{
    font-size: 14px;
    color: var(--thrird-color);
}

.footer > div a{
    color: #000;
}

.footer .downn li a{
    color: var(--thrird-color);
    font-size: 15px;
    font-weight: 300;
}






/* http://welsh-corgi.themerex.net/ */
